FYP_NodeRED/FYP_NodeRED_Flow.json
[
  {
    "id": "3ad5e75e.39a31",
    "type": "tab",
    "label": "FYP_Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "84ce2b4b.50606",
    "type": "csv",
    "z": "3ad5e75e.39a31",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "Date/Time,OFD #,Temperature,Humidity,Hours of Sunshine,Soil Moisture",
    "skip": "0",
    "strings": true,
    "x": 1130,
    "y": 540,
    "wires": [["c05e54aa.14e8d8", "d2ed9b29.3de67"]]
  },
  {
    "id": "ff71dfb2.a00ba8",
    "type": "file in",
    "z": "3ad5e75e.39a31",
    "name": "",
    "filename": "/Users/sankadesylva/Desktop/FYP/FYP Progress/Software/FYP-Code-Repo/FYP_NodeRED/Data_Generator/_Daily_OFD_data.csv",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 800,
    "y": 320,
    "wires": [["e7faed97.8c83f", "5b1da4e5.a0b534"]]
  },
  {
    "id": "d2ed9b29.3de67",
    "type": "debug",
    "z": "3ad5e75e.39a31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1330,
    "y": 600,
    "wires": []
  },
  {
    "id": "379ff771.2612d8",
    "type": "inject",
    "z": "3ad5e75e.39a31",
    "name": "Inject",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 230,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "c05e54aa.14e8d8",
    "type": "json",
    "z": "3ad5e75e.39a31",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1150,
    "y": 700,
    "wires": [["52ec0c52.82479c"]]
  },
  {
    "id": "52ec0c52.82479c",
    "type": "debug",
    "z": "3ad5e75e.39a31",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1350,
    "y": 740,
    "wires": []
  },
  {
    "id": "1c604fe8.12c598",
    "type": "influxdb out",
    "z": "3ad5e75e.39a31",
    "influxdb": "188c20df.028c5f",
    "name": "AgriData",
    "measurement": "OFDs",
    "precision": "",
    "retentionPolicy": "",
    "x": 1420,
    "y": 540,
    "wires": []
  },
  {
    "id": "354b51b4.e3e76e",
    "type": "file in",
    "z": "3ad5e75e.39a31",
    "name": "",
    "filename": "/home/pi/FYP-Code-Repo/FYP_NodeRED/Data_Generator/FYP_Sensor_testData.csv",
    "format": "lines",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 820,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "f3facc5c.60b64",
    "type": "watch",
    "z": "3ad5e75e.39a31",
    "name": "",
    "files": "/Users/sankadesylva/Desktop/FYP/FYP Progress/Software/FYP-Code-Repo/FYP_NodeRED/Data_Generator/_Daily_OFD_data.csv",
    "recursive": "",
    "x": 440,
    "y": 160,
    "wires": [["ff71dfb2.a00ba8"]]
  },
  {
    "id": "1c82a83b.1f03a8",
    "type": "tail",
    "z": "3ad5e75e.39a31",
    "name": "",
    "filetype": "text",
    "split": "[\\r]{0,1}\\n",
    "filename": "/Users/sankadesylva/Desktop/FYP/FYP Progress/Software/FYP-Code-Repo/FYP_NodeRED/Data_Generator/_Daily_OFD_data.csv",
    "inputs": 0,
    "x": 440,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "aa7bbc61.6cadf8",
    "type": "rbe",
    "z": "3ad5e75e.39a31",
    "name": "Duplicate_Time_Blocker",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload.Date/Time",
    "x": 1350,
    "y": 640,
    "wires": [[]]
  },
  {
    "id": "e7faed97.8c83f",
    "type": "debug",
    "z": "3ad5e75e.39a31",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1370,
    "y": 320,
    "wires": []
  },
  {
    "id": "5b1da4e5.a0b534",
    "type": "rbe",
    "z": "3ad5e75e.39a31",
    "name": "Duplicate_Blocker",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 1070,
    "y": 380,
    "wires": [["75e0530e.3b2a5c", "478410f.040347"]]
  },
  {
    "id": "75e0530e.3b2a5c",
    "type": "debug",
    "z": "3ad5e75e.39a31",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1310,
    "y": 380,
    "wires": []
  },
  {
    "id": "478410f.040347",
    "type": "switch",
    "z": "3ad5e75e.39a31",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1090,
    "y": 460,
    "wires": [["84ce2b4b.50606", "c088d49.655aba8"]]
  },
  {
    "id": "c088d49.655aba8",
    "type": "debug",
    "z": "3ad5e75e.39a31",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1290,
    "y": 460,
    "wires": []
  },
  {
    "id": "188c20df.028c5f",
    "type": "influxdb",
    "z": "",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "AGRIDATA",
    "name": "AgriData",
    "usetls": false,
    "tls": ""
  }
]
