FYP_NodeRED/FYP_NodeRED_Flow.json
[{"id":"3c94dc7d.d2f4bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c873eaf4.f41128","type":"csv","z":"3c94dc7d.d2f4bc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":130,"y":200,"wires":[["feea246c.8d8da","e2da3df2.8d7be"]]},{"id":"9bff1e00.05ab58","type":"file in","z":"3c94dc7d.d2f4bc","name":"","filename":"/Users/sankadesylva/Documents/Python_Projects/FYP_Python_Code/Data_Generator/FYP_Sensor_testData.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":450,"y":140,"wires":[["c873eaf4.f41128"]]},{"id":"feea246c.8d8da","type":"debug","z":"3c94dc7d.d2f4bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":200,"wires":[]},{"id":"6547baf0.38ff3c","type":"inject","z":"3c94dc7d.d2f4bc","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["9bff1e00.05ab58"]]},{"id":"e2da3df2.8d7be","type":"json","z":"3c94dc7d.d2f4bc","name":"","property":"payload","action":"","pretty":true,"x":350,"y":280,"wires":[["f878bad3.987788","b4488a17.031ed"]]},{"id":"f878bad3.987788","type":"debug","z":"3c94dc7d.d2f4bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":360,"wires":[]},{"id":"b4488a17.031ed","type":"influxdb out","z":"3c94dc7d.d2f4bc","influxdb":"b5edf422.116f78","name":"Weather","measurement":"stations","precision":"s","retentionPolicy":"","x":640,"y":280,"wires":[]},{"id":"b5edf422.116f78","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""}]