FYP_NodeRED/Influxdb_TestFlow.json
[{"id":"a5b46104.87431","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"5055b13f.2179","type":"function","z":"a5b46104.87431","name":"Parse message","func":"var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n\nmsg433.p1 = parts433[0];\nmsg433.p2 = parts433[1];\nmsg433.name = parts433[2];\nfor (var i=3; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\n\nmsg.msg433 = msg433;\nmsg.topic=\"rflink\";\n\nreturn msg;\n\n/*\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/","outputs":1,"noerr":0,"x":322,"y":105,"wires":[["7105a6aa.7b99a8"]]},{"id":"7105a6aa.7b99a8","type":"function","z":"a5b46104.87431","name":"TEMP conversion","func":"if (msg.msg433.TEMP!==undefined) {\n    if (parseInt(msg.msg433.TEMP, 16) >= 0x8000) {\n        msg.msg433.TEMP = (parseInt(msg.msg433.TEMP, 16) & 0x7FFF) / 10 * -1;\n    } else {\n        msg.msg433.TEMP = parseInt(msg.msg433.TEMP, 16) / 10;\n    }\n} else msg.msg433.TEMP=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.TEMP });\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":178,"wires":[["db5013f4.24d99"]]},{"id":"db5013f4.24d99","type":"function","z":"a5b46104.87431","name":"HUM conversion","func":"if (msg.msg433.HUM!==undefined) {\n    msg.msg433.HUM = parseInt(msg.msg433.HUM, 10);\n}\nelse msg.msg433.HUM=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.HUM });\nreturn msg;\n","outputs":1,"noerr":0,"x":318,"y":239,"wires":[["30eb2936.4ca7b6"]]},{"id":"30eb2936.4ca7b6","type":"function","z":"a5b46104.87431","name":"ID conversion","func":"if (msg.msg433.ID!==undefined) {\n    msg.msg433.ID = parseInt(msg.msg433.ID, 16);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":319,"y":298,"wires":[["3d36b3ad.dec2bc"]]},{"id":"3d36b3ad.dec2bc","type":"function","z":"a5b46104.87431","name":"RAIN conversion","func":"var global_name = \"rainstat\";   // Name of the global variable\n\nvar rainstat = global.get(global_name);\n\n msg.msg433.RAINRATE = -999;\n\nif (msg.msg433.RAIN!==undefined) {\n    msg.msg433.RAIN = parseInt(msg.msg433.RAIN, 16) /10;\n    msg.msg433.RAINRATE = msg.msg433.RAIN - rainstat;\n    global.set(global_name,msg.msg433.RAIN);\n} else msg.msg433.RAIN=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: rainstat });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":351,"wires":[["16d8b218.ec5dfe"]]},{"id":"16d8b218.ec5dfe","type":"function","z":"a5b46104.87431","name":"WINSP conversion","func":"if (msg.msg433.WINSP!==undefined) {\n    msg.msg433.WINSP = parseInt(msg.msg433.WINSP, 16) /10;\n} else msg.msg433.WINSP=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINSP });\nreturn msg;\n","outputs":1,"noerr":0,"x":331,"y":413,"wires":[["f8f62a8c.1af618"]]},{"id":"f8f62a8c.1af618","type":"function","z":"a5b46104.87431","name":"WINGS conversion","func":"if (msg.msg433.WINGS!==undefined) {\n    msg.msg433.WINGS  = parseInt(msg.msg433.WINGS , 16)/10;\n}\nelse msg.msg433.WINGS=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINGS });\nreturn msg;\n","outputs":1,"noerr":0,"x":331,"y":483,"wires":[["8e0568c0.c90988"]]},{"id":"8e0568c0.c90988","type":"function","z":"a5b46104.87431","name":"WINDIR conversion","func":"if (msg.msg433.WINDIR!==undefined) {\n    msg.msg433.WINDIR  = parseInt(msg.msg433.WINDIR , 10) * 22.5;\n}\nelse msg.msg433.WINDIR=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINDIR });\nreturn msg;\n","outputs":1,"noerr":0,"x":334,"y":549,"wires":[["133460cc.7aff4f"]]},{"id":"133460cc.7aff4f","type":"function","z":"a5b46104.87431","name":"SWITCH conversion","func":"if (msg.msg433.SWITCH !==undefined) {\n    msg.msg433.SWITCH   = parseInt(msg.msg433.SWITCH  , 16);\n}\nelse msg.msg433.SWITCH=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.SWITCH });\nreturn msg;\n","outputs":1,"noerr":0,"x":342,"y":616,"wires":[["7cc2b1c4.6b2bf"]]},{"id":"7cc2b1c4.6b2bf","type":"function","z":"a5b46104.87431","name":"CHIME conversion","func":"if (msg.msg433.CHIME  !==undefined) {\n    msg.msg433.CHIME    = parseInt(msg.msg433.CHIME   , 16);\n} else msg.msg433.CHIME=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.CHIME });\nreturn msg;\n","outputs":1,"noerr":0,"x":331,"y":682,"wires":[["1ce70b5.70026f5"]]},{"id":"c44ea557.ac38c8","type":"change","z":"a5b46104.87431","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"rflink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":501.6328125,"y":752.3046875,"wires":[["9fb8104e.c8f94","5dbb56d1.540038"]]},{"id":"9fb8104e.c8f94","type":"function","z":"a5b46104.87431","name":"Weather Station","func":"msg.payload = {\n    name: msg.msg433.name,\n    temp: msg.msg433.TEMP,\n    wind: msg.msg433.WINSP,\n    gust: msg.msg433.WINGS,\n    direction: msg.msg433.WINDIR,\n    rain: msg.msg433.RAIN,\n    rainrate: msg.msg433.RAINRATE,\n    humidity: msg.msg433.HUM,\n    battery: msg.msg433.BAT\n}\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":752,"wires":[["11b2cd2.1a43e33"]]},{"id":"1ce70b5.70026f5","type":"function","z":"a5b46104.87431","name":"BAT conversion","func":"if (msg.msg433.BAT === undefined) msg.msg433.BAT=\"\";\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.BAT });\nreturn msg;\n","outputs":1,"noerr":0,"x":321,"y":750,"wires":[["c44ea557.ac38c8"]]},{"id":"342de155.836f3e","type":"inject","z":"a5b46104.87431","name":"","topic":"","payload":"20;02;DKW2012;ID=0043;TEMP=8010;HUM=57;WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":142,"wires":[["5055b13f.2179"]]},{"id":"5dbb56d1.540038","type":"debug","z":"a5b46104.87431","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":695,"y":833,"wires":[]},{"id":"11b2cd2.1a43e33","type":"influxdb out","z":"a5b46104.87431","influxdb":"bacb7b1b.0d0568","name":"Weather","measurement":"stations","precision":"s","retentionPolicy":"","x":1063,"y":754,"wires":[]},{"id":"a3579800.4c2fb8","type":"mqtt in","z":"a5b46104.87431","name":"","topic":"RFLINK_REC","qos":"0","broker":"75a64ad6.3d1864","x":96,"y":81,"wires":[["5055b13f.2179","d4907ced.e49d1"]]},{"id":"d4907ced.e49d1","type":"debug","z":"a5b46104.87431","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":312,"y":55,"wires":[]},{"id":"bacb7b1b.0d0568","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"75a64ad6.3d1864","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]